.container{
    display: grid;
    background-color: rgba(0, 128, 0, 0.2);
}

.detail_img:hover{
    height: 500px;
}

.detail_img{
    position: absolute;
    left: 100px;
    top: 200px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    border: 3px rgb(33, 231, 15) solid;
    transition: 1.5s all;
    
}

.detail_h1{
    font-size: 50px;
    text-shadow: 2px 2px 0 rgb(245, 15, 15);
    color: white;
}

.cont_det{
    background-color: rgba(0, 0, 0, 0.4);
    width: 800px;
    height: 500px;
    position: absolute;
    right: 300px;
    top: 200px;
    border-radius: 30px;
}

.h{
    transition: 1.5s all;
    text-shadow: 2px 2px 0 rgb(245, 15, 15);
    color: white;
}

.h:hover{
    font-size: 30px;

}