.back_form{
   display: flex;
   align-items: center;
   justify-content: center;
}

.form{
    align-items: center;
    display: grid;
    justify-content: center;
    width: 500px;
    height: 700px;
    margin: 10px;
    margin-top: 100px;
    border-radius: 50px;
    background-color: rgba(0, 128, 0, 0.2);
    
 }
 
 .form_img{
    background-image:url("./../../para_rick/titu.jpg") ;
    background-size: contain;
    height: 98px;
    width: 300px;
    
 }

 .error{
    color: red;
    font-size: 20px;
 }
 

 .boton_form{
    height: 30px;
    width: 120px;;
    background-color: rgb(26, 131, 32);
    margin: auto;
    border-radius: 3px;
    font-weight: bold;
 }
 

 
.label_form{
   font-size: 30px;

  
}

.input_form{
   height: 30px;
   opacity: .6;
   
}

.buttons-containt-form{
   display: flex;
   align-items: center;
   justify-content: center;
}

