body {
   background-image:url("./para_rick/fondo.jpg") ;
   background-size: cover;
   background-attachment:fixed ;
   background-repeat: no-repeat;
}

.App{
   position: relative;
   text-align: center;
  
}






