.nav{
    background-image:url("./../../para_rick/titu.jpg") ;
    background-size: contain;
    height: 6vh;
 
 }
 
 
.about .b1{
    position: absolute;
    left: 180px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-size: 20px;
    background-color: rgba(8, 241, 8);
    font-weight: bold;
    cursor: pointer;
    
 }
 
 .home .b2{
    margin-top: 10px;
    height: 30px;
    width: 80px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(8, 241, 8);
    font-weight: bold;
    cursor: pointer;
 }
 
.logout{

   height: 30px;
   position: absolute;
   left: 10px;
   margin-top: 10px;
    width: 120px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(8, 241, 8);
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}


.favorite .b3{
   position: absolute;
   right: 350px;
   margin-top: 10px;
   height: 30px;
   width: 120px;
   font-size: 20px;
   border: 2px solid black;
   border-radius: 5px;
   background-color: rgba(8, 241, 8);
   font-weight: bold;
   cursor: pointer;

}